<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <logger name="." level="DEBUG"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%date{HH:mm:ss.SSS} [%thread]) %highlight(%8([%level])) %boldGreen(%logger{0}): %message%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>